{% extends 'base.html' %}

{% block titulo %}
    <title>sobre mi</title>
{% endblock %}

{% block body %}
    <div>
        <h3>Sobre mi</h3>
    </div>
    <div>
        Hola, me llamo Santiago Vicentela y tengo 21 años.Actualemnte estudio ingenieria industrial 
        en la Universidad Tecnologica Nacional(Argentina)y estoy como pasante en Ford en el area de 
        lanzamiento de producto.
        Dato extra,me encanta programar!!!!!!
    </div>
    <div>
        <a href={% url 'index' %}>index</a><br>
    </div>
{% endblock %}